.custom-btn {
    padding: 10px 20px;
    background-color: #1fcfd5;
    color: white;
    border: none;
    border-radius: 6px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .button-text {
    font-weight: 500 !important;
  }

  .custom-btn:hover {
    background-color: #17b1b8;
  }